* {
  margin: 0;
  padding: 0;
  font-family: "Golos Text", sans-serif;
  font-size: 16px;
}

body {
  overflow-x: hidden;
    background-color: gainsboro;
}

.navbar{
    /* background-color: white; */
    background-color:#6d6d6d;
    position: fixed;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    justify-items: flex-start;
}

.container-navbar{
    width: 100%;
}

/* .search-bar{
    width: 200px;
    height: 25px;
    background-color: white;
    border-radius: 7.5px;
    border-style: solid;
    border: 2px solid powderblue;
    margin-right: 2px;
} */

.container-navbar img{
    width: 5%;
    height: 100%;
    display: flex;
    background-size: cover;
    background-color: #6d6d6d;
}

.ul-navbar{
    margin-left: 450px;
    align-items: center;
    display: flex;
    list-style-type: none;
}

.li-navbar{
    padding: 15px;
    margin: 5px;
}

.li-navbar:hover{
    background-color: gray;
    transition: .2s ease-in-out;
    transition-delay: .1s;
    border-radius: 8px;
}

/* .hero-wrapper {
    background-image: url('/images/hero.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: white;
} */

.slide_show * {
  z-index: 9;
}

.slide_show h1 {
  font-size: 3.5em;
  /* margin-bottom: 0.5rem; */
}

.slide_show a {
  margin-top: 2rem;
  padding: 16px 24px;
  border-radius: 8px;
  background-color: #fca120;
  border: 1px #fca120 solid;
  color: #000000;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.5 ease-in-out;
}

.slide_show a:hover {
  background-color: #f9970f;
}

.slide_show::before {
  content: "";
  display: cover;
  position: absolute;
  top: 10vh;
  bottom: 0px;
  left: 0;
  right: 0;
  margin-bottom: 0px;
  height: 100vh;
  background-color: rgba(red, green, blue, alpha);
}

.section-activity {
    margin-top: 150px;
    text-align: center;
    padding: 0 10em;
    margin-bottom: 150px;
}

.section-activity h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

.activity-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3em;
}

.activity {
    /* background-color: #6d6d6d; */
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    /* gap: 32px; */
    height: 100%;
}

.activity .activity-image {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 10px;
}

.activity img {
    border-radius: 8px;
    width: 100%;
}

.activity .description {
    width: 100%;
    text-align: justify;
}

.activity .description h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

footer {
  width: 100%;
  background-color: #6d6d6d;
  padding: 16px 32px;
  text-align: center;
  color: white;
}

/* body{
    background-color: gray;
} */

.navbar{
    /* background-color: white; */
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    justify-items: flex-start;
}

/* .search-bar{
    width: 200px;
    height: 25px;
    background-color: white;
    border-radius: 7.5px;
    border-style: solid;
    border: 2px solid powderblue;
    margin-right: 2px;
} */

.container-navbar img{
    width: 5%;
    height: 100%;
    display: flex;
    background-size: cover;
    background-color: transparent;
}

.ul-navbar{
    margin-left: 450px;
    align-items: center;
    display: flex;
    list-style-type: none;
}

.li-navbar{
    padding: 15px;
    margin: 5px;
}

.li-navbar:hover{
    background-color: red;
    transition: .2s ease-in-out;
    transition-delay: .1s;
    border-radius: 8px;
}

/* NAVBAR TEXT */
.a-navbar{
    font-family: 'Golos Text', sans-serif;
    font-size: 20px;
    color: goldenrod;
    text-decoration: none;
}
