

.section-activity {
    margin-top: 150px;
    text-align: center;
    padding: 0 10em;
    margin-bottom: 150px;
}

.section-activity h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

.activity-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3em;
}



.activity {
    /* background-color: #6d6d6d; */
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    height: 100%;
}

.activity .activity-image {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 8px;
}

.activity img {
    width: 100%;
}

.activity .description {
    width: 100%;
    text-align: justify;
}

.activity .description h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

footer {
    width: 100%;
    background-color: #6d6d6d;
    padding: 16px 32px;
    text-align: center;
    color: white;
}